.cart-heading{
    .cart-image-name{
        display: flex;
        align-items: center;
        // justify-content: center;
        div{
            img{
                border-radius: 1rem;
                height: 3rem;
                margin-right: 1rem;
            }
        }
        .info-cart{
            display: flex;
            justify-content: center;
            align-items:start;
            flex-direction: column;
        }
    }
    .quantity{
        display: flex;
        justify-content: center;
    }
}
@media (max-width:720px) {
   
}