.progress {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100.8px;
   height: 16.8px;
   -webkit-mask: radial-gradient(circle closest-side,#474bff 94%,#0000) left/20% 100%;
   background: linear-gradient(#474bff 0 0) left/0% 100% no-repeat #dbdcef;
   animation: progress-c3ir73 2s infinite steps(6);
   margin-bottom: 6rem;
}

@keyframes progress-c3ir73 {
   100% {
      background-size: 120% 100%;
   }
}